In [1]:
import datetime as dt
import numpy as np
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from datetime import timedelta  


import datetime

from flask import Flask, jsonify
import pymysql
pymysql.install_as_MySQLdb()

# from config import (host,
#                     database,
#                     username,
#                     password)

In [2]:

# print(host)
engine = create_engine('mysql+mysqldb://spmb:appoloodatavag@cw-spmb.ct4csmrmjrt7.us-west-2.rds.amazonaws.com/spmb_101')

In [3]:


# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
session = Session(engine)

In [4]:
userid= input("Enter the name of the userID:")

Enter the name of the userID:2477

In [5]:
# user=userid
# userid=2605
sql_query = "SELECT * FROM events WHERE actor_id= %s"
df = pd.read_sql_query(sql_query, session.bind, params=[userid])
df

,id,type,entity_id,entity_type,created_at,updated_at,actor_id,details,from,to,firm_id,context_id,subcontext_id
0,2232727,UserLoginEvent,2477,User,2014-05-01 21:46:35,2014-05-01 21:46:35,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
1,2232728,UserLoginEvent,2477,User,2014-05-01 21:46:53,2014-05-01 21:46:53,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
2,2232813,UserLoginEvent,2477,User,2014-05-01 22:11:21,2014-05-01 22:11:21,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
3,2268873,UserLoginEvent,2477,User,2014-05-10 06:25:36,2014-05-10 06:25:36,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
4,2268875,FirmUserInvitedEvent,2504,User,2014-05-10 06:25:59,2014-05-10 06:25:59,2477,"{""actor_name"":""Clockwork Admin"",""person_name"":...",None,None,100,NaN,NaN
5,2269471,UserLoginEvent,2477,User,2014-05-11 03:48:05,2014-05-11 03:48:05,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
6,2283206,UserLoginEvent,2477,User,2014-05-14 05:04:48,2014-05-14 05:04:48,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
7,2288750,UserLoginEvent,2477,User,2014-05-15 04:43:48,2014-05-15 04:43:48,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
8,2309603,UserLoginEvent,2477,User,2014-05-21 05:25:04,2014-05-21 05:25:04,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
9,2309617,BulkImportEvent,2477,User,2014-05-21 05:25:51,2014-05-21 05:25:51,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",lgq60kbo,None,100,NaN,NaN
10,2309674,BulkImportEvent,2477,User,2014-05-21 05:40:58,2014-05-21 05:40:58,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",n5jolb9p,None,100,NaN,NaN
11,2310709,BulkImportEvent,2477,User,2014-05-21 06:09:29,2014-05-21 06:09:29,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",85s25vn0,None,100,NaN,NaN
12,2315567,BulkImportEvent,2477,User,2014-05-21 06:28:18,2014-05-21 06:28:18,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",mql55ayr,None,100,NaN,NaN
13,2331163,BulkImportEvent,2477,User,2014-05-21 07:19:09,2014-05-21 07:19:09,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",3bxegf9a,None,100,NaN,NaN
14,2336533,BulkImportEvent,2477,User,2014-05-21 14:26:46,2014-05-21 14:26:46,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",66572jcs,None,100,NaN,NaN
15,2352054,BulkImportEvent,2477,User,2014-05-21 15:19:48,2014-05-21 15:19:48,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",dy6ijwgp,None,100,NaN,NaN
16,2352261,UserLoginEvent,2477,User,2014-05-21 16:09:23,2014-05-21 16:09:23,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
17,2357868,BulkImportEvent,2477,User,2014-05-21 16:25:36,2014-05-21 16:25:36,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",y8ta6v6z,None,100,NaN,NaN
18,2373396,BulkImportEvent,2477,User,2014-05-21 18:21:57,2014-05-21 18:21:57,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",lie57y14,None,100,NaN,NaN
19,2373401,UserLoginEvent,2477,User,2014-05-21 18:23:50,2014-05-21 18:23:50,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
20,2379881,BulkImportEvent,2477,User,2014-05-21 18:46:27,2014-05-21 18:46:27,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",jl4izz0w,None,100,NaN,NaN
21,2380365,UserLoginEvent,2477,User,2014-05-21 20:05:08,2014-05-21 20:05:08,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
22,2394212,BulkImportEvent,2477,User,2014-05-21 20:50:16,2014-05-21 20:50:16,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",xjht93rs,None,100,NaN,NaN
23,2394220,UserLoginEvent,2477,User,2014-05-21 20:51:48,2014-05-21 20:51:48,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
24,2395207,UserLoginEvent,2477,User,2014-05-21 21:46:04,2014-05-21 21:46:04,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
25,2395556,BulkImportEvent,2477,User,2014-05-21 22:38:26,2014-05-21 22:38:26,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",mq88hwsb,None,100,NaN,NaN
26,2407574,UserLoginEvent,2477,User,2014-05-21 23:58:39,2014-05-21 23:58:39,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
27,2434614,UserLoginEvent,2477,User,2014-05-22 03:58:01,2014-05-22 03:58:01,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
28,2434616,BulkImportEvent,2477,User,2014-05-22 04:05:40,2014-05-22 04:05:40,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",dqu57jq4,None,100,NaN,NaN
29,2477285,UserLoginEvent,2477,User,2014-05-23 21:51:26,2014-05-23 21:51:26,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33476,15233289,SourceCompanyVoteEvent,347543,SourceCompany,2018-05-21 20:57:54,2018-05-21 20:57:54,2477,"{""actor_name"":""Clockwork Admin"",""company_name""...",6,7,100,17756.0,NaN
33477,15233290,SourceCompanyVoteEvent,347545,SourceCompany,2018-05-21 20:57:57,2018-05-21 20:57:57,2477,"{""actor_name"":""Clockwork Admin"",""company_name""...",1,0,100,17756.0,NaN
33478,15233291,SourceCompanyVoteEvent,347545,SourceCompany,2018-05-21 20:57:57,2018-05-21 20:57:57,2477,"{""actor_name"":""Clockwork Admin"",""company_name""...",0,-1,100,17756.0,NaN
33479,15233292,SourceCompanyVoteEvent,347545,SourceCompany,2018-05-21 20:57:58,2018-05-21 20:57:58,2477,"{""actor_name"":""Clockwork Admin"",""company_name""...",-1,-2,100,17756.0,NaN
33480,15233293,StoplightChangeEvent,1977294,Candidacy,2018-05-21 21:05:34,2018-05-21 21:05:34,2477,"{""actor_name"":""Clockwork Admin"",""person_id"":25...",green,red,100,17756.0,NaN
33481,15233294,StoplightChangeEvent,1977294,Candidacy,2018-05-21 21:05:36,2018-05-21 21:05:36,2477,"{""actor_name"":""Clockwork Admin"",""person_id"":25...",red,green,100,17756.0,NaN
33482,15233295,UserLoginEvent,2477,User,2018-05-21 23:08:59,2018-05-21 23:08:59,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33483,15233296,UserLoginEvent,2477,User,2018-05-23 03:41:56,2018-05-23 03:41:56,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33484,15233297,UserLoginEvent,2477,User,2018-05-23 23:15:57,2018-05-23 23:15:57,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33485,15233298,UserLoginEvent,2477,User,2018-05-24 22:38:27,2018-05-24 22:38:27,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33486,15233302,ProjectCreationEvent,28474,Project,2018-05-29 21:50:35,2018-05-29 21:50:35,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28474.0,NaN
33487,15233303,UserLoginEvent,2477,User,2018-06-01 21:45:18,2018-06-01 21:45:18,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33488,15233304,UserLoginEvent,2477,User,2018-06-01 21:46:36,2018-06-01 21:46:36,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33489,15233305,UserLoginEvent,2477,User,2018-06-01 21:47:11,2018-06-01 21:47:11,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33490,15233306,ProjectCreationEvent,28475,Project,2018-06-01 22:54:56,2018-06-01 22:54:56,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28475.0,NaN
33491,15233307,ProjectStatusChangeEvent,28475,Project,2018-06-01 22:54:56,2018-06-01 22:54:56,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",active,None,100,28475.0,NaN
33492,15233308,UserLoginEvent,2477,User,2018-06-04 15:39:44,2018-06-04 15:39:44,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33493,15233309,UserLoginEvent,2477,User,2018-06-04 17:40:15,2018-06-04 17:40:15,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33494,15233310,ProjectCreationEvent,28476,Project,2018-06-04 18:22:24,2018-06-04 18:22:24,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28476.0,NaN
33495,15233311,ProjectCreationEvent,28477,Project,2018-06-04 18:24:34,2018-06-04 18:24:34,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28477.0,NaN
33496,15233312,ProjectStatusChangeEvent,28477,Project,2018-06-04 18:24:34,2018-06-04 18:24:34,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",active,None,100,28477.0,NaN
33497,15233313,ProjectCreationEvent,28478,Project,2018-06-04 18:30:01,2018-06-04 18:30:01,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28478.0,NaN
33498,15233314,ProjectStatusChangeEvent,28478,Project,2018-06-04 18:30:01,2018-06-04 18:30:01,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",active,pitch,100,28478.0,NaN
33499,15233315,UserLoginEvent,2477,User,2018-06-04 22:08:32,2018-06-04 22:08:32,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33500,15233316,UserLoginEvent,2477,User,2018-06-07 17:37:31,2018-06-07 17:37:31,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33501,15233319,UserLoginEvent,2477,User,2018-06-15 16:25:57,2018-06-15 16:25:57,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33502,15233320,UserLoginEvent,2477,User,2018-06-15 23:11:11,2018-06-15 23:11:11,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33503,15233321,UserLoginEvent,2477,User,2018-06-21 19:24:43,2018-06-21 19:24:43,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33504,15233324,StoplightChangeEvent,3256521,Candidacy,2018-06-22 16:42:09,2018-06-22 16:42:09,2477,"{""actor_name"":""Clockwork Admin"",""person_id"":25...",red,green,100,27839.0,NaN
33505,15233325,StoplightChangeEvent,3256521,Candidacy,2018-06-22 16:42:10,2018-06-22 16:42:10,2477,"{""actor_name"":""Clockwork Admin"",""person_id"":25...",green,red,100,27839.0,NaN

In [6]:
for i, row in df.iterrows():
        ifor_val=df.updated_at[i].date()
        df.at[i,'updated_at'] = ifor_val

In [7]:
df

,id,type,entity_id,entity_type,created_at,updated_at,actor_id,details,from,to,firm_id,context_id,subcontext_id
0,2232727,UserLoginEvent,2477,User,2014-05-01 21:46:35,2014-05-01,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
1,2232728,UserLoginEvent,2477,User,2014-05-01 21:46:53,2014-05-01,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
2,2232813,UserLoginEvent,2477,User,2014-05-01 22:11:21,2014-05-01,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
3,2268873,UserLoginEvent,2477,User,2014-05-10 06:25:36,2014-05-10,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
4,2268875,FirmUserInvitedEvent,2504,User,2014-05-10 06:25:59,2014-05-10,2477,"{""actor_name"":""Clockwork Admin"",""person_name"":...",None,None,100,NaN,NaN
5,2269471,UserLoginEvent,2477,User,2014-05-11 03:48:05,2014-05-11,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
6,2283206,UserLoginEvent,2477,User,2014-05-14 05:04:48,2014-05-14,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
7,2288750,UserLoginEvent,2477,User,2014-05-15 04:43:48,2014-05-15,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
8,2309603,UserLoginEvent,2477,User,2014-05-21 05:25:04,2014-05-21,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
9,2309617,BulkImportEvent,2477,User,2014-05-21 05:25:51,2014-05-21,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",lgq60kbo,None,100,NaN,NaN
10,2309674,BulkImportEvent,2477,User,2014-05-21 05:40:58,2014-05-21,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",n5jolb9p,None,100,NaN,NaN
11,2310709,BulkImportEvent,2477,User,2014-05-21 06:09:29,2014-05-21,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",85s25vn0,None,100,NaN,NaN
12,2315567,BulkImportEvent,2477,User,2014-05-21 06:28:18,2014-05-21,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",mql55ayr,None,100,NaN,NaN
13,2331163,BulkImportEvent,2477,User,2014-05-21 07:19:09,2014-05-21,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",3bxegf9a,None,100,NaN,NaN
14,2336533,BulkImportEvent,2477,User,2014-05-21 14:26:46,2014-05-21,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",66572jcs,None,100,NaN,NaN
15,2352054,BulkImportEvent,2477,User,2014-05-21 15:19:48,2014-05-21,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",dy6ijwgp,None,100,NaN,NaN
16,2352261,UserLoginEvent,2477,User,2014-05-21 16:09:23,2014-05-21,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
17,2357868,BulkImportEvent,2477,User,2014-05-21 16:25:36,2014-05-21,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",y8ta6v6z,None,100,NaN,NaN
18,2373396,BulkImportEvent,2477,User,2014-05-21 18:21:57,2014-05-21,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",lie57y14,None,100,NaN,NaN
19,2373401,UserLoginEvent,2477,User,2014-05-21 18:23:50,2014-05-21,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
20,2379881,BulkImportEvent,2477,User,2014-05-21 18:46:27,2014-05-21,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",jl4izz0w,None,100,NaN,NaN
21,2380365,UserLoginEvent,2477,User,2014-05-21 20:05:08,2014-05-21,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
22,2394212,BulkImportEvent,2477,User,2014-05-21 20:50:16,2014-05-21,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",xjht93rs,None,100,NaN,NaN
23,2394220,UserLoginEvent,2477,User,2014-05-21 20:51:48,2014-05-21,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
24,2395207,UserLoginEvent,2477,User,2014-05-21 21:46:04,2014-05-21,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
25,2395556,BulkImportEvent,2477,User,2014-05-21 22:38:26,2014-05-21,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",mq88hwsb,None,100,NaN,NaN
26,2407574,UserLoginEvent,2477,User,2014-05-21 23:58:39,2014-05-21,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
27,2434614,UserLoginEvent,2477,User,2014-05-22 03:58:01,2014-05-22,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
28,2434616,BulkImportEvent,2477,User,2014-05-22 04:05:40,2014-05-22,2477,"{""actor_name"":""Clockwork Admin"",""import_type"":...",dqu57jq4,None,100,NaN,NaN
29,2477285,UserLoginEvent,2477,User,2014-05-23 21:51:26,2014-05-23,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33476,15233289,SourceCompanyVoteEvent,347543,SourceCompany,2018-05-21 20:57:54,2018-05-21,2477,"{""actor_name"":""Clockwork Admin"",""company_name""...",6,7,100,17756.0,NaN
33477,15233290,SourceCompanyVoteEvent,347545,SourceCompany,2018-05-21 20:57:57,2018-05-21,2477,"{""actor_name"":""Clockwork Admin"",""company_name""...",1,0,100,17756.0,NaN
33478,15233291,SourceCompanyVoteEvent,347545,SourceCompany,2018-05-21 20:57:57,2018-05-21,2477,"{""actor_name"":""Clockwork Admin"",""company_name""...",0,-1,100,17756.0,NaN
33479,15233292,SourceCompanyVoteEvent,347545,SourceCompany,2018-05-21 20:57:58,2018-05-21,2477,"{""actor_name"":""Clockwork Admin"",""company_name""...",-1,-2,100,17756.0,NaN
33480,15233293,StoplightChangeEvent,1977294,Candidacy,2018-05-21 21:05:34,2018-05-21,2477,"{""actor_name"":""Clockwork Admin"",""person_id"":25...",green,red,100,17756.0,NaN
33481,15233294,StoplightChangeEvent,1977294,Candidacy,2018-05-21 21:05:36,2018-05-21,2477,"{""actor_name"":""Clockwork Admin"",""person_id"":25...",red,green,100,17756.0,NaN
33482,15233295,UserLoginEvent,2477,User,2018-05-21 23:08:59,2018-05-21,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33483,15233296,UserLoginEvent,2477,User,2018-05-23 03:41:56,2018-05-23,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33484,15233297,UserLoginEvent,2477,User,2018-05-23 23:15:57,2018-05-23,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33485,15233298,UserLoginEvent,2477,User,2018-05-24 22:38:27,2018-05-24,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33486,15233302,ProjectCreationEvent,28474,Project,2018-05-29 21:50:35,2018-05-29,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28474.0,NaN
33487,15233303,UserLoginEvent,2477,User,2018-06-01 21:45:18,2018-06-01,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33488,15233304,UserLoginEvent,2477,User,2018-06-01 21:46:36,2018-06-01,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33489,15233305,UserLoginEvent,2477,User,2018-06-01 21:47:11,2018-06-01,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33490,15233306,ProjectCreationEvent,28475,Project,2018-06-01 22:54:56,2018-06-01,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28475.0,NaN
33491,15233307,ProjectStatusChangeEvent,28475,Project,2018-06-01 22:54:56,2018-06-01,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",active,None,100,28475.0,NaN
33492,15233308,UserLoginEvent,2477,User,2018-06-04 15:39:44,2018-06-04,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33493,15233309,UserLoginEvent,2477,User,2018-06-04 17:40:15,2018-06-04,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33494,15233310,ProjectCreationEvent,28476,Project,2018-06-04 18:22:24,2018-06-04,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28476.0,NaN
33495,15233311,ProjectCreationEvent,28477,Project,2018-06-04 18:24:34,2018-06-04,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28477.0,NaN
33496,15233312,ProjectStatusChangeEvent,28477,Project,2018-06-04 18:24:34,2018-06-04,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",active,None,100,28477.0,NaN
33497,15233313,ProjectCreationEvent,28478,Project,2018-06-04 18:30:01,2018-06-04,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28478.0,NaN
33498,15233314,ProjectStatusChangeEvent,28478,Project,2018-06-04 18:30:01,2018-06-04,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",active,pitch,100,28478.0,NaN
33499,15233315,UserLoginEvent,2477,User,2018-06-04 22:08:32,2018-06-04,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33500,15233316,UserLoginEvent,2477,User,2018-06-07 17:37:31,2018-06-07,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33501,15233319,UserLoginEvent,2477,User,2018-06-15 16:25:57,2018-06-15,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33502,15233320,UserLoginEvent,2477,User,2018-06-15 23:11:11,2018-06-15,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33503,15233321,UserLoginEvent,2477,User,2018-06-21 19:24:43,2018-06-21,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33504,15233324,StoplightChangeEvent,3256521,Candidacy,2018-06-22 16:42:09,2018-06-22,2477,"{""actor_name"":""Clockwork Admin"",""person_id"":25...",red,green,100,27839.0,NaN
33505,15233325,StoplightChangeEvent,3256521,Candidacy,2018-06-22 16:42:10,2018-06-22,2477,"{""actor_name"":""Clockwork Admin"",""person_id"":25...",green,red,100,27839.0,NaN

In [8]:
now = pd.datetime.now().date()
now

df[df.updated_at > now - pd.to_timedelta("30day")]

,id,type,entity_id,entity_type,created_at,updated_at,actor_id,details,from,to,firm_id,context_id,subcontext_id
33487,15233303,UserLoginEvent,2477,User,2018-06-01 21:45:18,2018-06-01,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33488,15233304,UserLoginEvent,2477,User,2018-06-01 21:46:36,2018-06-01,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33489,15233305,UserLoginEvent,2477,User,2018-06-01 21:47:11,2018-06-01,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33490,15233306,ProjectCreationEvent,28475,Project,2018-06-01 22:54:56,2018-06-01,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28475.0,NaN
33491,15233307,ProjectStatusChangeEvent,28475,Project,2018-06-01 22:54:56,2018-06-01,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",active,None,100,28475.0,NaN
33492,15233308,UserLoginEvent,2477,User,2018-06-04 15:39:44,2018-06-04,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33493,15233309,UserLoginEvent,2477,User,2018-06-04 17:40:15,2018-06-04,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33494,15233310,ProjectCreationEvent,28476,Project,2018-06-04 18:22:24,2018-06-04,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28476.0,NaN
33495,15233311,ProjectCreationEvent,28477,Project,2018-06-04 18:24:34,2018-06-04,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28477.0,NaN
33496,15233312,ProjectStatusChangeEvent,28477,Project,2018-06-04 18:24:34,2018-06-04,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",active,None,100,28477.0,NaN
33497,15233313,ProjectCreationEvent,28478,Project,2018-06-04 18:30:01,2018-06-04,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",None,None,100,28478.0,NaN
33498,15233314,ProjectStatusChangeEvent,28478,Project,2018-06-04 18:30:01,2018-06-04,2477,"{""actor_name"":""Clockwork Admin"",""project_name""...",active,pitch,100,28478.0,NaN
33499,15233315,UserLoginEvent,2477,User,2018-06-04 22:08:32,2018-06-04,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33500,15233316,UserLoginEvent,2477,User,2018-06-07 17:37:31,2018-06-07,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33501,15233319,UserLoginEvent,2477,User,2018-06-15 16:25:57,2018-06-15,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33502,15233320,UserLoginEvent,2477,User,2018-06-15 23:11:11,2018-06-15,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33503,15233321,UserLoginEvent,2477,User,2018-06-21 19:24:43,2018-06-21,2477,"{""actor_name"":""Clockwork Admin""}",None,None,100,NaN,NaN
33504,15233324,StoplightChangeEvent,3256521,Candidacy,2018-06-22 16:42:09,2018-06-22,2477,"{""actor_name"":""Clockwork Admin"",""person_id"":25...",red,green,100,27839.0,NaN
33505,15233325,StoplightChangeEvent,3256521,Candidacy,2018-06-22 16:42:10,2018-06-22,2477,"{""actor_name"":""Clockwork Admin"",""person_id"":25...",green,red,100,27839.0,NaN

In [9]:
def userevents():
    CreationEvent=df[df['type']=='CandidacyCreationEvent'];
    CStatusChange=df[df['type']=='CandidacyStatusChangeEvent'].count();
    CDeletion=df[df['type']=='CandidacyDeletionEvent'].count();
    NoteCreation=df[df['type']=='NoteCreationEvent'].count();
    NoteDeletion=df[df['type']=='NoteDeletionEvent'].count();
    NoteUpdate=df[df['type']=='NoteUpdateEvent'].count();
    StoplightChange=df[df['type']=='StoplightChangeEvent'].count();
    ProjectCreation=df[df['type']=='ProjectCreationEvent'].count();
    ProjectStatusChange=df[df['type']=='ProjectStatusChangeEvent'].count();
    print(ProjectCreation)
    return()

In [10]:
userevents()

id               8
type             8
entity_id        8
entity_type      8
created_at       8
updated_at       8
actor_id         8
details          8
from             0
to               0
firm_id          8
context_id       8
subcontext_id    0
dtype: int64

()

In [ ]:
# days_open=now-df.created_at
# days_open

In [12]:
# cand_status=pd.read_csv('candidate_status_rank.csv')
# cand_status

In [13]:
db_csv=pd.read_csv("SPMB_Active_Waterfall.csv")
db_csv

,id,title,company,project_started,project_closed,person_id,candidate_name,candidate_status,status_rank,research_added,researcher,pickup_date,pickup_user,watermark_status,watermark_rank,watermark_user,watermark_date
0,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1250766,Rochelle King,Not Interested,150,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
1,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1288130,Andrew Crow,Pursuing,1110,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
2,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1290698,Jeff Zwerner,Withdrew,130,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Candidate,1320.0,Nate Pearl,03/04/2016
3,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1292624,Sarah Alpern,Pursuing,1110,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
4,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,2023018,Helena Seo,Not Interested,150,03/02/2016,Nate Pearl,08/16/2017,Anna Reed,Candidate,1320.0,Nate Pearl,09/05/2017
5,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,2017450,Robert Kissinger,Timing Off,110,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
6,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1889672,Steven Bishop,DQ by Client,210,03/02/2016,Nate Pearl,03/02/2016,Nate Pearl,Candidate,1320.0,Nate Pearl,03/15/2016
7,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1767291,Christian Barnard,Source,30,03/02/2016,Dylan Love,03/02/2016,Dylan Love,NaN,NaN,NaN,NaN
8,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1766914,Luke Woods,Timing Off,110,03/03/2016,Dylan Love,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
9,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,2201984,Anisha Jain,Timing Off,110,03/03/2016,Dylan Love,03/10/2016,Dylan Love,Qualifying Interest,1210.0,Dylan Love,03/14/2016
10,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1288169,Jennifer Kilian,Pursuing,1110,03/03/2016,Dylan Love,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
11,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1288131,Henrik Olsen,Timing Off,110,03/03/2016,Dylan Love,08/16/2017,Anna Reed,Pursuing,1110.0,Anna Reed,08/16/2017
12,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1291105,Hans Neubert,Timing Off,110,03/03/2016,Dylan Love,08/16/2017,Anna Reed,Qualifying Interest,1210.0,Anna Reed,08/21/2017
13,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,2202040,Melissa Hajj,Pursuing,1110,03/03/2016,Dylan Love,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
14,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1292258,Ty Lettau,Pursuing,1110,03/03/2016,Dylan Love,03/03/2016,Dylan Love,Pursuing,1110.0,Nate Pearl,03/03/2016
15,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1292778,Alley Rutzel,Not Interested,150,03/03/2016,Dylan Love,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
16,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1292667,Matt MacLaurin,Timing Off,110,03/03/2016,Dylan Love,03/03/2016,Nate Pearl,SPMB Interviewing,1310.0,Nate Pearl,03/08/2016
17,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1321936,Margaret Lee,Pursuing,1110,03/03/2016,Dylan Love,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
18,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1291326,Chris Smith,Pursuing,1110,03/03/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
19,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1292748,Dantley Davis,Source,30,03/03/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
20,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1292774,Bobby Nath,Pursuing,1110,03/03/2016,Dylan Love,03/04/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/04/2016
21,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1288010,Cordell Ratzlaff,Pursuing,1110,03/03/2016,Dylan Love,03/04/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/04/2016
22,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,2203073,Pedro Freitas,DQ by Client,210,03/03/2016,Dylan Love,03/10/2016,Dylan Love,Candidate,1320.0,Nate Pearl,04/15/2016
23,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1288202,David Hoffer,Not Interested,150,03/03/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
24,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1292784,Lucas Pettinati,Pursuing,1110,03/04/2016,Dylan Love,03/10/2016,Dylan Love,Pursuing,1110.0,Dylan Love,03/10/2016
25,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1292539,Brynn Evans,Pursuing,1110,03/04/2016,Dylan Love,03/10/2016,Dylan Love,Pursuing,1110.0,Dylan Love,03/10/2016
26,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1291523,Ratna Desai,Pursuing,1110,03/04/2016,Dylan Love,03/10/2016,Dylan Love,Pursuing,1110.0,Dylan Love,03/10/2016
27,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1287939,Margaret Gould Stewart,Pursuing,1110,03/05/2016,Dylan Love,03/10/2016,Dylan Love,Pursuing,1110.0,Dylan Love,03/10/2016
28,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1288012,Bill Bachman,Pursuing,1110,03/05/2016,Dylan Love,03/10/2016,Dylan Love,Pursuing,1110.0,Dylan Love,03/10/2016
29,13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1287988,Marisa Gallagher,Not Interested,150,03/07/2016,Dylan Love,03/10/2016,Dylan Love,Qualifying Interest,1210.0,Dylan Love,03/14/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23563,34783,VP Engineering,Prosper,06/20/2018,NaN,1888077,Andy Berkheimer,Research,1000,06/26/2018,Katherine Saunders,NaN,NaN,NaN,NaN,NaN,NaN
23564,34783,VP Engineering,Prosper,06/20/2018,NaN,1233578,David Loftesness,Research,1000,06/26/2018,Katherine Saunders,NaN,NaN,NaN,NaN,NaN,NaN
23565,34783,VP Engineering,Prosper,06/20/2018,NaN,2683989,Manju Rajashekhar,Research,1000,06/26/2018,Lea Hagglund,NaN,NaN,NaN,NaN,NaN,NaN
23566,34783,VP Engineering,Prosper,06/20/2018,NaN,4211495,David Thompson,Research Coverage,5,06/27/2018,Lea Hagglund,06/27/2018,Lea Hagglund,NaN,NaN,NaN,NaN
23567,34783,VP Engineering,Prosper,06/20/2018,NaN,2379895,Daniel Loreto,Pursuing,1110,06/28/2018,Katherine Saunders,06/28/2018,Lea Hagglund,Pursuing,1110.0,Lea Hagglund,06/28/2018
23568,34783,VP Engineering,Prosper,06/20/2018,NaN,1237330,Peter Morelli,Research,1000,06/28/2018,Katherine Saunders,NaN,NaN,NaN,NaN,NaN,NaN
23569,34783,VP Engineering,Prosper,06/20/2018,NaN,4223110,Shyam Sundar,Research,1000,06/28/2018,Lea Hagglund,NaN,NaN,NaN,NaN,NaN,NaN
23570,34783,VP Engineering,Prosper,06/20/2018,NaN,3349295,Tim Tang,Pursuing,1110,06/28/2018,Lea Hagglund,06/28/2018,Lea Hagglund,Pursuing,1110.0,Lea Hagglund,06/28/2018
23571,34783,VP Engineering,Prosper,06/20/2018,NaN,1304283,John Thomas,Research,1000,06/28/2018,Katherine Saunders,NaN,NaN,NaN,NaN,NaN,NaN
23572,34783,VP Engineering,Prosper,06/20/2018,NaN,1245269,Dave McCrory,Research,1000,06/28/2018,Lea Hagglund,NaN,NaN,NaN,NaN,NaN,NaN
23573,34783,VP Engineering,Prosper,06/20/2018,NaN,1573660,Gabe Westmaas,Qualifying Interest,1210,06/28/2018,Katherine Saunders,06/28/2018,Lea Hagglund,Qualifying Interest,1210.0,Lea Hagglund,06/28/2018
23574,34783,VP Engineering,Prosper,06/20/2018,NaN,1304498,Dan Cox,Research,1000,06/28/2018,Katherine Saunders,NaN,NaN,NaN,NaN,NaN,NaN
23575,34783,VP Engineering,Prosper,06/20/2018,NaN,3543884,Anil Kulkarni,Research,1000,06/28/2018,Katherine Saunders,NaN,NaN,NaN,NaN,NaN,NaN
23576,34783,VP Engineering,Prosper,06/20/2018,NaN,1231022,Rama Ranganath,Pursuing,1110,06/29/2018,Lea Hagglund,06/29/2018,Lea Hagglund,Pursuing,1110.0,Lea Hagglund,06/29/2018
23577,34783,VP Engineering,Prosper,06/20/2018,NaN,2307585,Jerry Krikheli,Pursuing,1110,06/29/2018,Lea Hagglund,06/29/2018,Lea Hagglund,Pursuing,1110.0,Lea Hagglund,06/29/2018
23578,34815,President/COO,i(x) investments,06/22/2018,NaN,4214175,Nicole Neeman Brady,Research,1000,06/22/2018,Natalie Ryan,NaN,NaN,NaN,NaN,NaN,NaN
23579,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,2493227,Pirasenna Thiyagarajan,Research,1000,06/27/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23580,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,1327841,Paresh Nagda,Research,1000,06/27/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23581,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,1340846,Jeetu Jangle,Research,1000,06/27/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23582,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,1268257,Sham Chotai,Research,1000,06/27/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23583,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,1238693,Udi Nir,Research,1000,06/27/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23584,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,2186950,Claude-Nicolas Fiechter,Research,1000,06/27/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23585,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,1254649,Jennifer Anderson,Research,1000,06/28/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23586,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,1246470,Drew Johnson,Research,1000,06/28/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23587,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,1410904,Mark Shaw,Research,1000,06/28/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23588,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,2413467,Annie Cheng,Research,1000,06/28/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23589,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,1237360,Ryan Burkhardt,Research,1000,06/28/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23590,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,1377122,Komal Mangtani,Research,1000,06/28/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23591,34895,CTO/SVP Engineering,eDriving,06/29/2018,NaN,1239302,Vince Nakayama,Research,1000,06/29/2018,Allison Beach,NaN,NaN,NaN,NaN,NaN,NaN
23592,34976,"VP, Sales",Goodera,06/27/2018,NaN,4223724,Tushar Makhija,Research,1000,06/28/2018,Jeffrey Farlow,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
username= input("Enter the name of the user:")

Enter the name of the user:Dylan Love

In [47]:
username

'Dylan Love'

In [48]:
user_db=db_csv[db_csv['pickup_user']==username]
user_db.count()

id                  87
title               87
company             87
project_started     87
project_closed      87
person_id           87
candidate_name      87
candidate_status    87
status_rank         87
research_added      87
researcher          87
pickup_date         87
pickup_user         87
watermark_status    84
watermark_rank      84
watermark_user      84
watermark_date      84
dtype: int64

In [49]:
def dic_function(rank):
    t=user_db[user_db['watermark_rank']>user_db['status_rank']];
    IN_activity=t[t['watermark_rank']==rank]
    
#     t1=user_db[user_db['watermark_rank']==user_db['status_rank']] 
    t2=user_db[user_db['watermark_rank']==rank]
    OUT_activity=t2[t2['status_rank']<=1000.0]
    
    t=user_db[user_db['status_rank']==rank];
    CURRENT_activity=t[t['watermark_rank']==rank]
    
    activity_dict={ 'TOTAL':IN_activity['watermark_rank'].count()+OUT_activity['watermark_rank'].count()+CURRENT_activity['watermark_rank'].count(),
                  'IN':IN_activity['watermark_rank'].count(),
                  'OUT': OUT_activity['watermark_rank'].count(),
                  'CURRENT':CURRENT_activity['watermark_rank'].count()
                  }
    
    return(activity_dict)

In [50]:
Pursuing= dic_function(1110.0)
Qualifying= dic_function(1210.0)
PotCand=dic_function(1220.0)
Intvw=dic_function(1310.0)
Candidate=dic_function(1320.0)
Finalist=dic_function(1410.0)
OffrExtend=dic_function(1420.0)
Placed=dic_function(1500.0)

In [51]:
print(Pursuing)
print(Qualifying)
print(PotCand)
print(Intvw)
print(Candidate)
print(Finalist)
print(OffrExtend)
print(Placed)

{'TOTAL': 77, 'IN': 15, 'OUT': 15, 'CURRENT': 47}
{'TOTAL': 20, 'IN': 11, 'OUT': 9, 'CURRENT': 0}
{'TOTAL': 0, 'IN': 0, 'OUT': 0, 'CURRENT': 0}
{'TOTAL': 12, 'IN': 6, 'OUT': 6, 'CURRENT': 0}
{'TOTAL': 8, 'IN': 4, 'OUT': 4, 'CURRENT': 0}
{'TOTAL': 0, 'IN': 0, 'OUT': 0, 'CURRENT': 0}
{'TOTAL': 0, 'IN': 0, 'OUT': 0, 'CURRENT': 0}
{'TOTAL': 1, 'IN': 1, 'OUT': 0, 'CURRENT': 0}

In [17]:
firm_id = input('enter firm id')

enter firm id100

In [21]:
sql_query = "SELECT rank, name FROM statuses where firm_id = %s"

statuses = pd.read_sql_query(sql_query, session.bind, params=[firm_id])
statuses

    rank                 name
0     20            Benchmark
1   1320            Candidate
2    320         Disqualified
3    210         DQ by Client
4   1410             Finalist
5    145       Location Issue
6    150       Not Interested
7    140       Not Responding
8    120       Offer Declined
9   1420       Offer Extended
10    90              On Hold
11  1500               Placed
12  1110             Pursuing
13  1210  Qualifying Interest
14    10            Reference
15  1000             Research
16     5    Research Coverage
17    30               Source
18  1310    SPMB Interviewing
19   110           Timing Off
20   310           Turned Off
21   130             Withdrew

In [22]:
status_list = list(statuses['rank'])

In [42]:
status_names = list(statuses['name'])

In [45]:
data = pd.read_csv("SPMB_Active_Waterfall.csv")
data = data.set_index('id')

In [29]:
project_id = input("enter project Id")

enter project Id13847

In [30]:
focus_project = data.filter(like=project_id, axis=0)

In [31]:
focus_project.head()

,title,company,project_started,project_closed,person_id,candidate_name,candidate_status,status_rank,research_added,researcher,pickup_date,pickup_user,watermark_status,watermark_rank,watermark_user,watermark_date
id,,,,,,,,,,,,,,,,
13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1250766,Rochelle King,Not Interested,150,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1288130,Andrew Crow,Pursuing,1110,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1290698,Jeff Zwerner,Withdrew,130,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Candidate,1320.0,Nate Pearl,03/04/2016
13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1292624,Sarah Alpern,Pursuing,1110,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
13847,Head of Design,Stockpile,03/02/2016,05/09/2016,2023018,Helena Seo,Not Interested,150,03/02/2016,Nate Pearl,08/16/2017,Anna Reed,Candidate,1320.0,Nate Pearl,09/05/2017

In [38]:
total = []
in_list = []
out = []
current = []

def overview_chart():

    for i in status_list:
    
        t=focus_project[focus_project['watermark_rank']>focus_project['status_rank']];
        IN_activity=t[t['watermark_rank']==i]
    
#     t1=user_db[user_db['watermark_rank']==user_db['status_rank']] 
        t2=focus_project[focus_project['watermark_rank']==i]
        OUT_activity=t2[t2['status_rank']<=1000.0]
    
        t=focus_project[focus_project['status_rank']==i];
        CURRENT_activity=t[t['watermark_rank']==i]
    
        total.append(IN_activity['watermark_rank'].count()+OUT_activity['watermark_rank'].count()+CURRENT_activity['watermark_rank'].count())
        in_list.append(IN_activity['watermark_rank'].count())
        out.append(OUT_activity['watermark_rank'].count())
        current.append(CURRENT_activity['watermark_rank'].count())
        i=+i
        
    return(total, in_list, out, current)

In [39]:
overview_chart()

([0, 52, 0, 0, 6, 0, 0, 0, 0, 0, 0, 2, 370, 83, 0, 0, 0, 0, 61, 0, 0, 0],
 [0, 25, 0, 0, 3, 0, 0, 0, 0, 0, 0, 1, 108, 44, 0, 0, 0, 0, 30, 0, 0, 0],
 [0, 25, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 108, 37, 0, 0, 0, 0, 28, 0, 0, 0],
 [0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 154, 2, 0, 0, 0, 0, 3, 0, 0, 0])

In [44]:
overview_df = pd.DataFrame(
    {'Rank': status_list, 
     "Status": status_names, 
     'Total': total, 
     'In': in_list, 
     'Out': out, 
     'Current': current},
    columns=['Rank','Status', 'Total', 'In', 'Out', 'Current'])
overview_df

    Rank               Status  Total   In  Out  Current
0     20            Benchmark      0    0    0        0
1   1320            Candidate     52   25   25        2
2    320         Disqualified      0    0    0        0
3    210         DQ by Client      0    0    0        0
4   1410             Finalist      6    3    3        0
5    145       Location Issue      0    0    0        0
6    150       Not Interested      0    0    0        0
7    140       Not Responding      0    0    0        0
8    120       Offer Declined      0    0    0        0
9   1420       Offer Extended      0    0    0        0
10    90              On Hold      0    0    0        0
11  1500               Placed      2    1    0        1
12  1110             Pursuing    370  108  108      154
13  1210  Qualifying Interest     83   44   37        2
14    10            Reference      0    0    0        0
15  1000             Research      0    0    0        0
16     5    Research Coverage      0    0    0        0
17    30               Source      0    0    0        0
18  1310    SPMB Interviewing     61   30   28        3
19   110           Timing Off      0    0    0        0
20   310           Turned Off      0    0    0        0
21   130             Withdrew      0    0    0        0

In [ ]:
days=[]
i=0

started_date=[]
while i<len(db_csv):
    started_date.append((datetime.datetime.strptime(db_csv.project_started[i], "%m/%d/%y")).date())
    i=i+1
len(started_date)

dict_week=[]
i=0
while i <  len(df):
    start_of_week=[];
    start_date=started_date[i]
    while(start_date<now):
        start_of_week.append(start_date);
        start_date=start_date+ timedelta(days=7);
    dict_week.append(start_of_week)
    i=i+1
dict_week[0]

In [ ]:
# Save references to each table
Tasks = Base.classes.tasks
Tasks_Cat = Base.classes.task_categories
# Samples_Metadata = Base.classes.samples_metadata

# Create our session (link) from Python to the DB
session = Session(engine)
sql_query = session.query(Tasks_Cat).statement
df1 = pd.read_sql_query(sql_query, session.bind)
df1.count()

In [ ]:
results = session.query(Tasks.id, Tasks.creator_id, Tasks.firm_id, Tasks.category_id, Tasks_Cat.name).\
        filter(Tasks.category_id==Tasks_Cat.id).all()
df = pd.DataFrame(results)
df

In [ ]:
# IN_Pursuing=IN_function(1110.0)
# IN_Pursuing.count()

# OUT_Pursuing=OUT_function(1110.0)
# OUT_Pursuing.count()

# CURRENT_Pursuing=CURRENT_function(1110.0)
# CURRENT_Pursuing.count()

# IN_Qualifying=IN_function(1210.0)
# IN_Qualifying.count()

# OUT_Qualifying=OUT_function(1210.0)
# OUT_Qualifying.count()

# CURRENT_Qualifying=CURRENT_function(1210.0)
# CURRENT_Qualifying.count()

# IN_PotCand=IN_function(1220.0)
# IN_PotCand.count()

# OUT_PotCand=OUT_function(1220.0)
# OUT_PotCand.count()

# CURRENT_PotCand=CURRENT_function(1220.0)
# CURRENT_PotCand.count()

# IN_Intvw=IN_function(1310.0)
# IN_Intvw.count()

# OUT_Intvw=OUT_function(1310.0)
# OUT_Intvw.count()

# CURRENT_Intvw=CURRENT_function(1310.0)
# CURRENT_Intvw.count()

# IN_Candidate=IN_function(1320.0)
# IN_Candidate.count()

# OUT_Candidate=OUT_function(1320.0)
# OUT_Candidate.count()

# CURRENT_Candidate=CURRENT_function(1320.0)
# CURRENT_Candidate.count()

# IN_Finalist=IN_function(1410.0)
# IN_Finalist.count()

# OUT_Finalist=OUT_function(1410.0)
# OUT_Finalist.count()

# CURRENT_Finalist=CURRENT_function(1410.0)
# CURRENT_Finalist.count()

# IN_OffrExtend=IN_function(1420.0)
# IN_OffrExtend.count()

# OUT_OffrExtend=OUT_function(1420.0)
# OUT_OffrExtend.count()

# CURRENT_OffrExtend=CURRENT_function(1420.0)
# CURRENT_OffrExtend.count()

# IN_Placed=IN_function(1500.0)
# IN_Placed.count()

# OUT_Placed=OUT_function(1500.0)
# OUT_Placed.count()

# CURRENT_Placed=CURRENT_function(1500.0)
# CURRENT_Placed.count()

In [ ]:
# IN_Pursuing=user_db[user_db['watermark_rank']>user_db['status_rank']] 
# IN_Pursuing[IN_Pursuing['watermark_rank']==1110.0].count()

# t=user_db[user_db['watermark_rank']==user_db['status_rank']] 
# OUT_Pursuing=t[t['watermark_rank']==1110.0]
# OUT_Pursuing[OUT_Pursuing['watermark_rank']<1000.0].count()

# CURRENT_Pursuing=user_db[user_db['watermark_rank']==user_db['status_rank']]
# CURRENT_Pursuing[CURRENT_Pursuing['watermark_rank']==1110.0]
# # CURRENT_Pursuing.count()

# IN_Qualifying=user_db[user_db['watermark_rank']>user_db['status_rank']] 
# IN_Qualifying[IN_Qualifying['watermark_rank']==1210.0].count()

# t=user_db[user_db['watermark_rank']==user_db['status_rank']]
# OUT_Qualifying=t[t['watermark_rank']==1210.0]
# OUT_Qualifying[OUT_Qualifying['watermark_rank']<1000.0]

# CURRENT_Qualifying = user_db[user_db['watermark_rank']==user_db['status_rank']]
# CURRENT_Qualifying[CURRENT_Qualifying['watermark_rank']==1210.0]

# IN_PotCand=user_db[user_db['watermark_rank']>user_db['status_rank']] 
# IN_PotCand[IN_PotCand['watermark_rank']==1220.0]

# t=user_db[user_db['watermark_rank']==user_db['status_rank']] 
# OUT_PotCand=t[t['watermark_rank']==1220.0]
# OUT_PotCand[OUT_PotCand['watermark_rank']<1000.0].count()

# CURRENT_PotCand = user_db[user_db['watermark_rank']==user_db['status_rank']]
# CURRENT_PotCand[CURRENT_PotCand['watermark_rank']==1220.0]


# IN_Intvw=user_db[user_db['watermark_rank']>user_db['status_rank']] 
# IN_Intvw[IN_Intvw['watermark_rank']==1310.0].count()

# t=user_db[user_db['watermark_rank']==user_db['status_rank']]
# OUT_Intvw=t[t['watermark_rank']==1310.0]
# OUT_Intvw[OUT_Intvw['watermark_rank']<1000.0]

# CURRENT_Intvw = user_db[user_db['watermark_rank']==user_db['status_rank']]
# CURRENT_Intvw[CURRENT_Intvw['watermark_rank']==1310.0]

# IN_Candidate=user_db[user_db['watermark_rank']>user_db['status_rank']] 
# IN_Candidate[IN_Candidate['watermark_rank']==1320.0]

# t=user_db[user_db['watermark_rank']==user_db['status_rank']] 
# OUT_Candidate=t[t['watermark_rank']==1320.0]
# OUT_Candidate[OUT_Candidate['watermark_rank']<1000.0].count()

# CURRENT_Candidate = user_db[user_db['watermark_rank']==user_db['status_rank']]
# CURRENT_Candidate[CURRENT_Candidate['watermark_rank']==1320.0]

# IN_Finalist=user_db[user_db['watermark_rank']>user_db['status_rank']] 
# IN_Finalist[IN_Finalist['watermark_rank']==1410.0]

# t=user_db[user_db['watermark_rank']==user_db['status_rank']] 
# OUT_Finalist=t[t['watermark_rank']==1410.0]
# OUT_Finalist[OUT_Finalist['watermark_rank']<1000.0].count()

# CURRENT_Finalist = user_db[user_db['watermark_rank']==user_db['status_rank']]
# CURRENT_Finalist[CURRENT_Finalist['watermark_rank']==1410.0]

# IN_OffExtend=user_db[user_db['watermark_rank']>user_db['status_rank']] 
# IN_OffExtend[IN_OffExtend['watermark_rank']==1420.0]

# t=user_db[user_db['watermark_rank']==user_db['status_rank']] 
# OUT_OffExtend=t[t['watermark_rank']==1420.0]
# OUT_OffExtend[OUT_OffExtend['watermark_rank']<1000.0].count()

# CURRENT_Finalist = user_db[user_db['watermark_rank']==user_db['status_rank']]
# CURRENT_Finalist[CURRENT_Finalist['watermark_rank']==1420.0]


# IN_Placed=user_db[user_db['watermark_rank']>user_db['status_rank']] 
# IN_Placed[IN_Placed['watermark_rank']==1500.0]

# t=user_db[user_db['watermark_rank']==user_db['status_rank']] 
# OUT_Placed=t[t['watermark_rank']==1500.0]
# OUT_Placed[OUT_Placed['watermark_rank']<1000.0].count()

# CURRENT_Placed = user_db[user_db['watermark_rank']==user_db['status_rank']]
# CURRENT_Placed[CURRENT_Placed['watermark_rank']==1500.0]

In [ ]:
year= "%2016%"
type1 = '%Project%'
type2= '%Candida%'
type3= '%BulkImportEvent%'

sql_events = """select * from events e where e.created_at LIKE %s"""

events_df = pd.read_sql_query(sql_events, session.bind, params=( year))

events_df

In [ ]:
sql_events = """select * from events e where e.created_at LIKE '%2016%'"""

events_df = pd.read_sql_query(sql_events, session.bind)
#                               params=( type1, type2, type3))

# sql_events = """select * from events e where e.entity_type LIKE %Project"""
# events_df = pd.read_sql_query(sql_events, session.bind)


events_df

In [ ]:
events_df.type.unique()

In [ ]:
# sql_query = "SELECT tasks.id, tasks.creator_id, tasks.firm_id, tasks.category_id,task_categories.name FROM tasks,task_categories WHERE tasks.category_id=task_categories.id"

df = pd.read_sql_query(results, session.bind)
df

In [ ]:
sql_query = "SELECT * FROM candidacies"
df = pd.read_sql_query(sql_query, session.bind)
df

In [ ]:
df.drop("otu_id", axis=1, inplace=True)

In [ ]:
list(df.columns)

In [ ]:
#@app.route('/names')
def names():
    # perform the SQL query
    
    # sql alchemy syntax
    #sql_query = session.query(Samples).statement
    
    # sql query
    sql_query = "SELECT * FROM samples"
    
    # read into pandas as DF
    df = pd.read_sql_query(sql_query, session.bind)
    
    # drop the otu column
    df.drop("otu_id", axis=1, inplace=True)
    
    # jsonify the route with the column names
    return jsonify(list(df.columns))

In [ ]:
sql_query = "SELECT lowest_taxonomic_unit_found FROM otu"

df = pd.read_sql_query(sql_query, session.bind)

In [ ]:
results = session.query(Otu.lowest_taxonomic_unit_found).all()

list(np.ravel(results))

In [ ]:
list(df["lowest_taxonomic_unit_found"])

In [ ]:
#@app.route('/otu')
def otu():
    # define SQL query
    sql_query = "SELECT lowest_taxonomic_unit_found FROM otu"
    
    # convert query to DF
    df = pd.read_sql_query(sql_query, session.bind)
    
    # return the OTU descriptions list
    return jsonify(list(df["lowest_taxonomic_unit_found"]))

In [ ]:
#@app.route('/otu')
def otu():
    results = session.query(Otu.lowest_taxonomic_unit_found).all()

    return jsonify(list(np.ravel(results)))

In [ ]:
# @app.route('/metadata/<sample>')
def metadata(sample):
    sel = [Samples_Metadata.SAMPLEID, Samples_Metadata.ETHNICITY,
           Samples_Metadata.GENDER, Samples_Metadata.AGE,
           Samples_Metadata.LOCATION, Samples_Metadata.BBTYPE]
    
    # * means inputting a list argument, ** means dictionary input
    results = session.query(*sel).filter(Samples_Metadata.SAMPLEID == sample[3:]).all()
    
    sample_metadata = {}
    
    for result in results:
        sample_metadata["SAMPLEID"] = result[0]
        sample_metadata["ETHNICITY"] = result[1]
        sample_metadata["GENDER"] = result[2]
        sample_metadata["AGE"] = result[3]
        sample_metadata["LOCATION"] = result[4]
        sample_metadata["BBTYPE"] = result[5]
        
    return sample_metadata

In [ ]:
metadata("BB_940")

In [ ]:
# def samples():
sql_query = "SELECT * FROM samples"
sample_id="BB_940"
df2 = pd.read_sql_query(sql_query, session.bind)
value=df2.loc[:, df2.columns.str.contains(sample_id)]
new=value[sample_id].sort_values(ascending =False)
newj = new.to_json(orient='split')
newj

In [ ]:
new=value[sample_id].sort_values(ascending =False)
new


l=int(df2["otu_id"].size)
l

In [ ]:
i=0
val1=[]
while i< l:
    if new[i]>0:
        val1.append(new[i])
    i=i+1
val1

In [ ]:
newj = new.to_json(orient='split')
newj

In [ ]:
row_count=df3[0].count()

In [ ]:
sql_query1= "select * from samples where column like 'sim'"
df2 = pd.read_sql_query(sql_query1, session.bind)

In [ ]:
# data={}
# i=0
# while i<df3.length:
#     if(df3.iloc[:,i]
t=[]
i=0
while i< row_count:
    t[i].append(df3.iloc[:, 3670])
    i += 1
t

In [ ]:
t[0]

In [ ]:
p.sort(reverse=True)
print(p)