In [5]:
# SQL Alchemy
import sqlalchemy
from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy.engine import reflection

#import egnine
from config import engine_url

# PyMySQL 
# import PyMySQL
# PyMySQL.install_as_MySQLdb()

# Pandas
import pandas as pd

In [12]:
data = pd.read_csv("SPMB_Active_Waterfall.csv")
data =data.set_index('id')

In [ ]:
data

In [51]:
project_id = input("enter project Id")

enter project Id13847

In [52]:
focus_project = data.filter(like=project_id, axis=0)

In [53]:
focus_project.head()

,title,company,project_started,project_closed,person_id,candidate_name,candidate_status,status_rank,research_added,researcher,pickup_date,pickup_user,watermark_status,watermark_rank,watermark_user,watermark_date
id,,,,,,,,,,,,,,,,
13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1250766,Rochelle King,Not Interested,150,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1288130,Andrew Crow,Pursuing,1110,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1290698,Jeff Zwerner,Withdrew,130,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Candidate,1320.0,Nate Pearl,03/04/2016
13847,Head of Design,Stockpile,03/02/2016,05/09/2016,1292624,Sarah Alpern,Pursuing,1110,03/02/2016,Nate Pearl,03/03/2016,Nate Pearl,Pursuing,1110.0,Nate Pearl,03/03/2016
13847,Head of Design,Stockpile,03/02/2016,05/09/2016,2023018,Helena Seo,Not Interested,150,03/02/2016,Nate Pearl,08/16/2017,Anna Reed,Candidate,1320.0,Nate Pearl,09/05/2017

In [ ]:
# tups = [('count', 'size'), ('in time', lambda x: (x==0).sum())]
# df = df.groupby('course')['days overdue'].agg(tups).reset_index()

# df['% completed in time'] = df['in time'].div(df['count'])

In [36]:
rank = 1500

In [47]:
def overview_chart(rank1, rabnk2, ):
    t=focus_project[focus_project['watermark_rank']>focus_project['status_rank']];
    IN_activity=t[t['watermark_rank']==rank]
    
#     t1=user_db[user_db['watermark_rank']==user_db['status_rank']] 
    t2=focus_project[focus_project['watermark_rank']==rank]
    OUT_activity=t2[t2['status_rank']<=1000.0]
    
    t=focus_project[focus_project['status_rank']==rank];
    CURRENT_activity=t[t['watermark_rank']==rank]
    
    activity_dict={ 'TOTAL':IN_activity['watermark_rank'].count()+OUT_activity['watermark_rank'].count()+CURRENT_activity['watermark_rank'].count(),
                  'IN':IN_activity['watermark_rank'].count(),
                  'OUT': OUT_activity['watermark_rank'].count(),
                  'CURRENT':CURRENT_activity['watermark_rank'].count()
                  }
    
    return(activity_dict)

In [48]:
Pursuing= overview_chart(1110.0)
Qualifying= overview_chart(1210.0)
PotCand=overview_chart(1220.0)
Intvw=overview_chart(1310.0)
Candidate=overview_chart(1320.0)
Finalist=overview_chart(1410.0)
OffrExtend=overview_chart(1420.0)
Placed=overview_chart(1500.0)

In [50]:
Pursuing

{'CURRENT': 154, 'IN': 108, 'OUT': 108, 'TOTAL': 370}